<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="full-page">
        <div class="page-content">
            <h1>Welcome, {{ first_name|capitalize }}!</h1>
            <a href="{{ url_for('survey') }}" class="edit-button">Edit Fitness Goals</a>

            <div class="profile-section">
                <h2>Profile Information</h2>
                <ul>
                    {% if fitness_goals %}
                        <li><strong>Fitness Goals:</strong> {{ fitness_goals | join(', ') }}</li>
                    {% else %}
                        <li><strong>Fitness Goals:</strong> None set</li>
                    {% endif %}

                    {% if fitness_experience %}
                        <li><strong>Experience Level:</strong> {{ fitness_experience | join(', ') }}</li>
                    {% else %}
                        <li><strong>Experience Level:</strong> None set</li>
                    {% endif %}

                    {% if workout_time %}
                        <li><strong>Preferred Workout Time:</strong> {{ workout_time | join(', ') }}</li>
                    {% else %}
                        <li><strong>Preferred Workout Time:</strong> None set</li>
                    {% endif %}

                    {% if dietary_preferences %}
                        <li><strong>Dietary Preferences:</strong> {{ dietary_preferences | join(', ') }}</li>
                    {% else %}
                        <li><strong>Dietary Preferences:</strong> None set</li>
                    {% endif %}

                    {% if fitness_challenges %}
                        <li><strong>Fitness Challenges:</strong> {{ fitness_challenges | join(', ') }}</li>
                    {% else %}
                        <li><strong>Fitness Challenges:</strong> None set</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>