<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <title>Login Page</title>
</head>
<body>
    <div class="center-container">
        <h1>FitAI</h1>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div id="username">{{ form.username }}</div>
            <div id="password">{{ form.password }}</div>
            <div id="submit">{{ form.submit }}</div>
        </form>

        <a href="{{ url_for('register') }}">Don't have an account? Register</a>
    </div>
</body>

</html>