<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/register.css') }}">
</head>
<body>
    <div class="center-container">
        <h1>FitAI</h1>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div id="username">{{ form.username }}</div>
            <div id="password">{{ form.password }}</div>
            <div id="first_name">{{ form.first_name }}</div>
            <div id="last_name">{{ form.last_name }}</div>
            <div id="submit">{{ form.submit }}</div>
        </form>

        <a href="{{ url_for('login') }}">Already have an account? Log In</a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="flash-container">
        {% for message in messages %}
          <div class="flash-message">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</body>
</html>
