<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/survey.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Fitness Survey: What are your goals?</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.fitness_goals.label }}</p>
        {% for subfield in form.fitness_goals %}
            <div>
                {{ subfield }} {{ subfield.label }}
            </div>
        {% endfor %}
        <br>
        {{ form.submit() }}
    </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="flash-container">
        {% for message in messages %}
          <div class="flash-message">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</body>
</html>